@model Escuela

@{
    ViewData["Title"] = "Información de la Escuela";
    Layout = "Simple";
}


<h2>Nombre: @Model.Nombre </h2>
<h3>Tipo de Escuela: @Model.TipoEscuela</h3>
<address>
    <p>Pais: @Model.Pais</p>
    <p>Ciudad: @Model.Ciudad</p>
    <p>Dirección:@Model.Dirección </p>
    <p>Tipo Escuela: @Model.TipoEscuela</p>
    <p>Año fundación: @Model.AñoDeCreación</p>
</address>


@*
    <p>@ViewBag.CosaDinamica</p>
    <p>@ViewData["CosaDinamica"]</p>
*@