@model Curso

@{
    ViewData["Title"] = "Información de Curso";
    Layout = "Simple";
}

<h1> @ViewData["Title"]</h1>

<h2>@ViewBag.MensajeExtra</h2>

<strong>Desde la vista normal</strong>
<p>Nombre: @Model.Nombre</p>
<p>ID : @Model.Id</p>
<p>Direccion @Model.Dirección</p>
<p>Jornada @Model.Jornada</p>



<strong>Desde la vista parcial</strong>
<partial name="ObjetoEscuelaSimple" />



<p>@ViewBag.Fecha</p>